@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: #15101f;
}

body {
  overscroll-behavior-y: none;
}

#root {
  min-height: 100vh;
}
